* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
  background: #E0E0E0;
}

#sopra {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sotto {
  height: 85vh;
  text-align: center;
  padding-top: 20px;
}

h3 {
  text-align: center;
  font-size: 0.8rem;
  display: none;
}

.quadratino {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 3px;
  border: 3px solid #000;
  background-color: #FFF;
}

.rosso {
  background-color: red;
}

.verde {
  background-color: green;
}

#redScoreboard {
  color: red;
}

#greenScoreboard {
  color: green;
}

.giallo {background-color: yellow;}
.gialloScuro {background-color: gold;}
.bluScuro {background-color: rgb(0,0,128);}
.bluMenoScuro {background-color: rgb(0,0,148);}
.bluMenoChiaro {background-color: rgb(0,0,168);}
.bluChiaro {background-color: rgb(0,0,188);}